<section id="about-me" class="main">
    <div class="text">
        <div>
            <h3 class="about-me">About Me.</h3>
        </div>   
        <div>
            <p>I am an IT graduate with <b>strong communication skills</b>,<br> <b>quick learning ability </b>,
                 and <b>excellent time management</b>. <br>Ready to contribute efficiently to the growth of tech-driven companies.</p>
        </div>
        <div class="contact">


            
            <div>
                <a href="mailto:ciaralei.roque.m@gmail.com">
                                    <img class="icon" src="images\gmail.png" alt="">
                                    <span class="text_contact">ciaralei.roque.m&#64;gmail.com</span></a>
            </div>

            <div class="second-contact">
                <a href="#">
                <img class="icon" src="images\whatsapp.png" alt="">
                <span class="text_contact">09300554641</span></a>
            </div>


        </div>
        <div class="contact">

            <div >
                <a href="https://www.linkedin.com/in/ciara-lei-roque-15b869367?utm_source=share&utm_campaign=share_via
                &utm_content=profile&utm_medium=android_app">
                                <img class="icon" src="images\linkedin.png" alt="">
                                <span class="text_contact">Ciara Lei Roque</span></a>
            </div>

            <div  class="resume">
                <a href="#">
                                <img class="icon" src="images\pdf.png" alt="">
                                <span class="text_contact">My Resume</span>
                </a>
            </div>

        </div>
    </div>
    <div class="img-container">
        <div>
            <img class="my_pic" src="images\about_me.jpeg" alt="">
        </div>
    </div>
</section>
