<section class="main">
<div class="main-content">
    <h1>My Projects</h1>

    <div class="main-row">
        <div class="vid-container">
            <iframe 
                [src]="sanitizedVideoUrl"
                width="640" 
                height="480" 
                allow="autoplay" 
                allowfullscreen>
            </iframe>
        </div>

        <div class="vid-desc">
            <h3>IBISS (Innovative Business Information System Solution)</h3>
            <p>This was our Capstone Project wherein we integrated multiple systems into one. <br><br>
                It has Inventory System, Content Management System, Finance System, Graphs, and Backup and Restore. <br><br>
                The system's goal is to allow more convenience and efficiency in business management.<br><br><br><br>
                *the website is not hosted anymore.</p>

        </div>


    </div>

</div>

</section>