<section class="main">
<div class="main-content">
    <h1>My Skills</h1>
    <div class="row">
        <div class="card1"> 
            <img src="images\express_img.png" alt="">
            <p>Node.js & Express.js</p>
        </div>

        <div class="card2"> 
            <img src="images\backend.png" alt="">
            <p>Backend Dev (Java & PHP)</p>
        </div>

        <div class="card3"> 
            <img src="images\frontend.png" alt="">
            <p>FrontEnd Dev (Angular, Vue & React)</p>
        </div>
    </div>
</div>

</section>

